<h1 class="margin top-bottom-10">Fun of Heuristic</h1>
<div class="container-fluid">
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/AM3P55rKgwk?si=TmTRx_RVwWLrgHfh"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
</div>
<router-outlet></router-outlet>
<pre>{{ users$ | async | json }}</pre>
